gradle
.gradle
*.iml
.idea
app/release
local.properties
.DS_Store
app/build
captures
.externalNativeBuild
app/.cxx
app/app.iml
app.iml
.DS_Store
*.iml
*.apk
*.ap_
*.dex
*.class
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
.idea/
local.properties
build/
build
